<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Finaltec.Hart.Analyzer.ViewModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Finaltec.Hart.Analyzer.ViewModel.Properties.Settings>
            <setting name="COM_Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Preambles" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShowOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>525</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="BitSwapping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Display_Time" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_SendOrRecived" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_Preamble" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_Delimiter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_Address" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_Command" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_ByteCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_Data" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_Response" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_Checksum" serializeAs="String">
                <value>True</value>
            </setting>
        </Finaltec.Hart.Analyzer.ViewModel.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
